:root {
    --red-color: rgb(128, 0, 0);
    --selected-color: rgb(255, 170, 170);
    --disabled-color: rgb(160, 160, 160);
    --bg-color: rgb(206,233,247);
    --cellsize: 45px;
}



@media (max-width: 600px) {
    :root {
        --cellsize: 30px;
    }
}

#titleBar {
    height:60px;
    line-height:60px;
    background-color:var(--red-color);
    font-size:22px;
    display: grid;
    grid-template-columns:repeat(auto, 7);
    justify-content: space-around;
    gap: 0px 30px;
    color: white;
}

@media (max-width: 600px) {
    #titleBar {
        font-size:16px;
        grid-template-columns: repeat(auto, 6);
        gap: 0px 20px;
    }
}

@media (max-width: 450px) {
    #titleBar {
        font-size: 10px;
    }
}

.titleLeft {
    text-align: right;
    grid-column: 4 / 8;
}

.titleSelected {
    color: var(--selected-color);
}

.titleDisabled {
    color: var(--disabled-color);
}

body {
    background-color: var(--bg-color);
}

.gameForm {
    text-align: center;
}

.flashes {
    color: red;
}

#reactRoot {
    display: grid;
    align-content: center;
    justify-content: center;
    height: calc(100cqh - 60px);
}

.gamegrid {
    display: grid;
    border: 5px solid black;
}

.notRevealed, .revealed {
    width: var(--cellsize);
    height: var(--cellsize);
    border: 1px solid rgb(100,100,100);
}

.hidden {
    display: none;
}

.notRevealed {
    /* background-color: rgb(217,217,217); */
    background-color: rgb(128,128,128);
}

.revealed {
    /* background-color: rgb(128,128,128); */
    background-color: rgb(217,217,217);
}

.trippedMine {
    background-color: rgb(255, 0, 0);
}

.flagged {
    color: rgb(255, 0, 0);
}

.cellDiv {
    text-align: center;
    font-size: 42px;
}

@media (max-width: 600px) {
    .cellDiv {
        font-size: 28px;
    }
}

body {
    height: 100vh;
    margin: 0px;
    padding: 0px;
    color:black;
}

.click {
    cursor:pointer; /*https://developer.mozilla.org/en-US/docs/Web/CSS/cursor*/
}

.gameButtonDiv {
    z-index: 100;
    position: relative;
    right: 5%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    height:calc(100cqh - 60px);
    width:min-content;
    float: right;
}

.gameButton {
    height: 50px;
    width: 100px;
    background-color: orange;
}

@media (max-width: 600px) {
    .gameButtonDiv {
        flex-direction: row;
        height: 0%;
        width: 100%;
        float:none;
        top:15%;
        right: 0%;
    }
}

@media (max-height: 700px) {
    .gameButtonDiv {
        top: 10%;
    }
}

/** This CSS code was from https://www.w3schools.com/howto/howto_css_switch.asp to make the flag slider**/

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /**---------------------------------------------------------------------------------------------------------**/

  .flagger {
    display: flex;
    justify-content: center;
    float: left;
    height:calc(100cqh - 60px);
    flex-direction: column;
    position: relative;
    left: 5%;
    gap: 5px;
  }

  @media (max-width: 600px) {
    .flagger {
        flex-direction: row;
        height: 0%;
        width: 100%;
        float:none;
        top:75%;
        left: 0%;
    }
}

.loginRequire {
    display: none;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width:100%;
    height:calc(100cqh - 60px);
    gap: 15px;
}

.loginForm * {
    width: 30%;
}

.savedGamesContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    position: relative;
    top: 15px;
}

.pastgame {
    display: flex;
    border: 1px solid black;
    width: 70vw;
    height: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    font-size: 100%;
}

@media (max-width: 650px) {
    .pastgame {
        font-size: 80%;
    }
}

@media (max-width: 425px) {
    .pastgame {
        font-size: 65%;
    }
}

.loseText, .winText {
    text-align: center;
}

.loseText {
    color: red;
}

.winText {
    color: green;
}

.gamesh1 {
    text-align: center;
}

#logout {
    position:fixed;
    top: 65px;
    right: 5px;
    height: 30px;
    width: 15vw;
    z-index: 100000;
}

@media (max-width: 425px) {
    #logout {
        width: 20vw;
    }
}

.ctrl {
    background-color: lightblue;
    width: 50px;
    height: 50px;
}

@media (max-width: 875px) {
    .mobileRemove {
        display: none;
    }
}