<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <script src="scripts/connections.js" defer></script>
    <title>Minesweeper</title>
    <script>
        sessionStorage.setItem("loggedIn", 1);
        localStorage.setItem("user", "{{username}}");
        localStorage.setItem("pass", "{{password}}");
        document.location = "/index.html";
    </script>
</head>
<body>
</body>
</html>